#set( $D = '$' )
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <global-property doc:name="Global Property" name="config.dir" value="." />
    <configuration-properties doc:name="Application config file" file="${config.dir}/config-${artifactId}.yaml" />
    <configuration-properties doc:name="Shared config file" file="${config.dir}/config-shared.yaml" />
    <configuration-properties doc:name="API config file" file="apiconfig.properties" />
#if( ${domain} == "default" )
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="${D}{http.host}" port="${D}{http.port}" />
    </http:listener-config>
#end
    <apikit:config name="api-config" raml="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
#if( ${anypointApiId} != "unset" )
    <api-gateway:autodiscovery apiId="${D}{anypoint.apiId}" doc:name="API Autodiscovery" flowRef="api-main" />
#end
</mule>
